body{
    font-family: 'Montserrat', sans-serif;
    background-color: #202020;
}
.header_nav li a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}
.header_nav li a:hover{
    color: #F50D32;
}
.header{
    padding: 24px 0px;
}
.banner{
    padding-top: 50px;
}
.banner_content{
    padding-right: 110px;
}
.banner_content h4{
    font-size: 20px;
    font-weight: 500;
    color: #F50D32;
}
.banner_content h1{
    font-size: 44px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 20px;
    line-height: 64px;
}
.banner_content p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 55px;
}
.banner_content a{
    padding: 18px 42px;
    background-color: #F50D32;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
}
.banner_img img{
    box-shadow: -25px 25px;
}
.banner_img{
    position: relative;
}
.banner_boll{
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: -1;

}
.banner{
    padding-top: 50px;
    position: relative;
}
.banner_pattern{
    position: absolute;
    left: -60px;
    top: 70px;

}
.banner_content{
    padding-right: 110px;
}

.service{
    position: relative;
    margin-top: 120px;
}
.service_i{
    position: absolute;
    bottom: 0px;
    left: 0px;

}
.service_heading h2{
    font-size: 34px;
    font-weight: 600px;
    color: #ffffff;
}
.service_heading hr{
    width: 100px;
    height: 5px;
    background-color: #F50D32;
}
.service_heading p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
}
.service_item i{
    font-size: 30px;
    color: #ffffff;
    background-color: #F50D32;
    padding: 15px;
    border-radius: 50%;
}

.service_item h3{
    font-size: 23px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 32px;
}
.service_item p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
    margin-top: 18px;
}
.service_item{
    margin-bottom: 45px;
}
.service_item a{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
.service_item a i{
    background-color: transparent;
    font-size: 24px;
}

.skill{
    margin-top: 120px;

}

.skill_heading{
    text-align: center;
}

.skill_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 30px;

}
.skill_heading hr{
    background-color: #F50D32;
    width: 100px;
    height: 5px;
    margin: 0px auto;
}
.skill_heading p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 28px;
    margin-top: 30px;
}

.service_item_box_row{
    margin-top: 70px;
}
.service_item_box{
    text-align: center;
    border:3px solid #2E2E30;
    padding: 40px 40px;
}

.service_item_box h4{
    color: #F50D32;
    font-size: 16px;
    font-weight: 400;
}
.service_item_box h3{
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 16px;
}
.service_item_box p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
}

.progress{
    background-color:#343434 ;
}
.custom_bar{
    background-color: #F50D32;
}
.service_item_bar{
    margin-top: 60px;
}
.pro_bar{
    margin-top: 30px;
}
.pro_bar h3{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;

}

.pricing{
    margin-top: 120px;
}
.priching_heading{
    text-align: center;
}
.priching_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}
.pricing_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0px auto;

}
.priching_heading p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.pricing_item{
    border: 3px solid #2E2E30;
    text-align: center;
    padding: 50px 45px;

}
.pricing_item h3{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.pricing_item i{
    padding: 20px;
    font-size: 40px;
    color: #ffffff;
    background-color: #F50D32;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.pricing_item h4{
    font-size: 44px;
    font-weight: 700;
    color: #ffffff;
}
.pricing_item ul li i{
    font-size: 24px;
    padding: 5px;
    color: #202020;
    background-color: #ffffff;
    margin-right: 20px;
    
}

.pricing_item ul li{
    color: #ffffff;
    
}
.pricing_item a{
    font-size: 16px;
    padding: 10px 29px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
.pricing_item a i{
    background-color: transparent;
    font-size: 24px;

}
.price_item_row{
    margin-top: 50px;
}
.work{
    margin-top: 120px;
}

.work_heading{
    text-align: center;
}
.work_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}
.work_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0px auto;

}
.work_heading p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.work_item_row{
    margin-top: 60px;
}

.work_item{
    padding-right: 110px;
}

.work_item h3{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    line-height: 44px;
}

.work_item p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.work_item a{
    color: #F50D32;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.test{
    margin-top: 120px;
}

.test_heading{
    text-align: center;
}


.test_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}
.test_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0px auto;

}
.test_heading p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.test_item_row{
    margin-top:70px;

}
.test_item{
    padding: 40px 38px;
    text-align: center;
    background-color: #2E2E30;

}

.test_item i{
    font-size: 60px;
    color: #F50D32;

}
.test_item p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top:30px;
    margin-bottom: 20px;
}

.test_item h4{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.test_item h5{
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
}

.disco{
   margin-top: 120px;
    
}
.disco_container{
    background-color: #2E2E30;
    padding: 75px;
}

.disco_content h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 34px;


}
.disco_button{
    text-align: right;

}
.disco_button a{
    background-color: #F50D32;
    color: #ffffff;
    padding: 18px 42px;
    text-decoration: none;
    border-radius: 4px;
}

.footer{
    margin-top: 120px;
    background-color: #161616;
    padding: 120px 0px;
    text-align: center;
    position: relative;
}
.footer_content{
    color: #ffffff;
}

.footer_content a i{
    font-size: 24px;
    color: #ffffff;
    background-color: #2E2E30;
    padding: 15px;
    border-radius: 50%;
    margin-left: 20px;
}
.footer_img{
    position: absolute;
    bottom:-170px;
    right: 0px;

}



/* about page css */

.about_boll{
    left: -20px;
    top: -20px;
}

.about_banner_img img{
    box-shadow: 25px 25px 0px #2E2E30;
}

.about_banner_content{
    padding-right: 0px;
    padding-left: 110px;
}

.counter{
    margin-top: 120px;
}

.counter_heading{
    text-align: center;
}


.counter_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}
.counter_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0px auto;

}
.counter_heading p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.counter_row{
    margin-top: 80px;
}
.counter_item{
    text-align: center;
}
.counter_item h3{
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}

.counter_item h4{
    font-size: 18px;
    font-weight: 400;
    color: #F50D32;
}
/* service page css */
.service_heading_service{
    text-align: center;
}


.countservice_heading_serviceer_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}
.service_heading_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0px auto;

}
.service_heading_service p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.service_row{
    margin-top: 120px;
}
.service_item_item{
    border: 1px solid #343434;
    padding: 20px;
}

/* CONTACT PAGE CSS */
.page_title_heading h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 107px;
}
.page_title_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin-top: 20px;
    margin-bottom: 20px;

}

.contact{
    margin-top: 120px;
}

.contact_touch h2{
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
}
.touch_underline{
    width: 100px;
    height: 4px;
    background-color: #F50D32;
    margin-top: 20px;
    margin-bottom: 20px;

}
.contact_touch p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.contact_form_input{
    margin-bottom: 40px;
}
.contact_form_input input{
    height: 46px;
    border-radius: 0px;
    background-color: #343434;
    border: none;
}

.contact_form_input textarea{
    background-color: #343434;
    border:none;
    height: 182px;
    border-radius: 0px;
}
.custom_form_btn{
    background-color: #F50D32;
}